@model ForgotPasswordModel

@{
    ViewBag.Title = "Feed App 3 - Forgot Password";
}

<partial name="LoginHeaderPartial" />

<div class="contentRow fs-5 p-2 text-center fw-bold" style="border-top: 1px solid #CCC;">
    Forgot Password
</div>

<div id="errorMessage" class="contentRow p-3 text-danger d-none"></div>

<div id="forgotPasswordFormContainer" class="contentRow ps-3 pe-3" style="padding-top: 3px;padding-bottom: 3px;">
    @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @id = "forgotPasswordForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="d-inline-block w-100 lh-base pt-3">
            Enter your account's email address to send a password reset link.
        </div>

        @Html.LabelFor(m => m.Email, new { @class = "w-100" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "true", onfocus = "this.readOnly = false;", onblur = "this.readOnly = true;" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

        <div class="pt-3 pb-3">
            <button type="submit" class="btn btn-success mt-3 mb-3">
                <span class="spinner-border spinner-border-sm me-2 d-none" role="status" aria-hidden="true"></span>
                Send Reset Link
            </button>
        </div>
    }
</div>
<div id="forgotPasswordSuccessMessage" class="contentRow pt-4 pb-4 ps-3 pe-3 d-none" style="line-height: 22px;">
    <strong>Email sent!</strong><br />
    We’ve sent a password reset link to your email address.<br />
    Click the link to reset your password.
</div>

<div class="contentRow p-3">
    <a asp-controller="Login" asp-action="Login" class="btn btn-secondary">Back</a>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', async function() {
            await addSubmitFormListener(
                "forgotPasswordForm",
                function(){
                    document.getElementById('forgotPasswordFormContainer').classList.add("d-none");
                    document.getElementById('forgotPasswordSuccessMessage').classList.remove("d-none");
                    document.getElementById('errorMessage').classList.add("d-none");
                    document.getElementById('errorMessage').innerHTML = '';
                }, function(errorString){
                    document.getElementById('errorMessage').classList.remove("d-none");
                    document.getElementById('errorMessage').innerHTML = errorString;
                });
        });
    </script>
}